.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.not-visible {
  display: none;
}

#showDate {
  padding-left: 850px;
  padding-top: 69px;
}

nav {
  display: flex;
  flex-direction: row;
  width: 70%;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  border: 2px solid;
  margin-left: 180px;
}

.all {
  display: flex;
  flex-direction: row;
  gap: 12px;
  list-style: none;
}

.main-section {
  padding-top: 49px;
}

.title {
  padding-left: 500px;
  padding-top: 67px;
}

.books {
  border: 2px solid;
  width: 90%;
  margin-left: 96px;
}

.book-element {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.book-element:nth-child(odd) {
  background: lightgrey;
}

.add-book-form {
  padding-left: 500px;
}

.button {
  margin-left: 138px;
  margin-top: 8px;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 62px;
}

footer {
  position: fixed;
  display: flex;
  align-items: center;
  bottom: 16px;
  border: 2px solid;
  width: 95%;
  height: 35px;
}
